.profile-card {
  background: rgb(250, 247, 247);
  border-radius: 20px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  border: 1px solid #ececec;
}

.profile-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}

.profile-card h2 {
  margin: 0;
  font-size: 1.8rem;
  color: #1a1a40;
}

.role {
  margin-top: 10px;
  font-size: 1.1rem;
  font-weight: 600;
  color: #5b4dff;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #e8e8e8;
}

.skill {
  background: #eef2ff;
  color: #4f46e5;
  padding: 8px 14px;
  border-radius: 999px;
  font-size: 0.9rem;
  font-weight: 500;
  transition: all 0.3s ease;
}

.skill:hover {
  background: #5b4dff;
  color: white;
  cursor: default;
}

.profile-card button {
  padding: 10px 30px;
  border: none;
  border-radius: 12px;
  background: #be1414;
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
}

.profile-card button:hover {
  transform: translateY(-2px);
}